body{
    box-sizing: border-box;
    
}
.Calculator{
    padding: 15px;
    background-color: rgb(110, 104, 104);
    max-width: 400px;
    min-width: 250px;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 0 0 10px #999;
}
.head{
    padding: 10px;
}
.head .info{
    font-size: 25px;
    margin: 0 0 20px 0;
}
.head .input{
    background-color: rgb(125, 131, 134);
    padding: 5px;
}
.head .input input{
    width: 98%;
    height: 70px;
    margin: 0 auto 50px 0;
    font-size: 39px;
    font-weight: bold;
    outline: none;}
    .esl{
        height: 50px;
        padding: 10px;
        background-color: white;
    }
    .kay .num{
        display: flex;
        flex-wrap: wrap;
        /* flex-grow: 1px; */
        justify-content: space-evenly;
    }
   
    .kay .num span
    { 
         display: flex;
         justify-content: center;
         align-items: center;
        padding: 10px;
        width: calc((100% - 41% )/4);
        margin: 5px 0;
        border-radius: 6px;
        font-size: 25px;
        font-weight: bold;
        border: 2px solid #222;
        background-color: rgb(208, 219, 219);
        cursor: pointer;
        }
        .kay .num span:active{
            border-color: blueviolet;
            color: blueviolet;
            background-color: rgb(15, 167, 35);
        }

